<body>
  <div class="container-fluid">
    <div class="row" style="height: 100vh;">
      <div class="col-3 d-flex flex-column full-height">
        <div class="half-height" style="border-bottom: 1px solid black;">
            codigo QR
        </div>
        <div class="half-height">
            <h2 class="text-center">Asistencia de Cálculo</h2>

            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Correo Electrónico</th>
    
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of attendanceData">
                  <td>{{ student.nombre }}</td>
                  <td>{{ student.apellido }}</td>
                  <td>{{ student.correo_electronico }}</td>
    
                </tr>
              </tbody>
            </table>
        </div>

      </div>

      <div class="col-9" style="border: 1px solid rgb(187, 187, 187);">
        <div class="main">
            <nav class="navbar px-3 border-bottom">
                <!-- Btn -->
                <button class="btn no-radius" type="button" >
                  Bienvenido profesor X
                </button>

                <button class="btn d-none d-md-block" >Cerrar sesion</button>
              </nav>
          <main class="content" id="divMessage">
            <div class="div-message div-message-bg">
              <div></div>
            </div>

            <div class="div-question pt-3 px-3">
              <div class="row">
                <div class="col-1"></div>
                <div class="col-9">
                  <input
                    type="text"
                    id="pregunta"
                    class="form-control no-radius"
                  />
                </div>
                <div class="col-1">
                  <button class="btn2 bg-university no-radius">
                    <i class="fa-solid fa-arrow-right fa-lg"></i>
                  </button>
                </div>
                <div class="col-1"></div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</body>
