/* You can add global styles to this file, and also import other style files */

.white{
    color: white !important;
}

.bg-university{
    background-color: #172b58;
}

.color-u{
    color: #172b58;
}

.btn-primary{
    background-color: #172b58 !important;
}

.btn-primary:hover{
    background-color: #1b3f91 !important;
}

.border-5px{
    border-radius: 5px !important;
}
