<body>
    <div class="container text-center">
      <div class="row border-5px">
        <div class="col-4">
          <img
            src="./assets/images/logoU.svg"
            style="width: 150px"
            class="pt-5 pb-3"
          />
          <br />
          <h1 class="white p-4">
            Bienvenido al sistema de<strong> Gestión de asistencia</strong>
          </h1>
        </div>
        <div class="col-8 no-p-r">
          <div class="two-ways">
            <div class="container-2">
              <div class="col-left">
                <div class="sign-up-text">
                  <h2>Regístrate aquí!</h2>
                  <p>Crea tu cuenta con el correo institucional</p>
                  <button class="btn" routerLink="/register">Registrarse</button>
                </div>
              </div>
              <div class="col-right">
                <div class="login">
                  <h2 class="color-u">¿Ya estás registrado?</h2>
                  <p>Inicia sesión con tu correo institucional </p>
                  <button class="btn" routerLink="/login">Iniciar sesión</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  